<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learning.core.dao.Base_DictMapper" >
  <resultMap id="BaseResultMap" type="com.learning.core.pojo.Base_Dict" >
    <id column="dict_id" property="dictId" jdbcType="VARCHAR" />
    <result column="dict_type_code" property="dictTypeCode" jdbcType="VARCHAR" />
    <result column="dict_type_name" property="dictTypeName" jdbcType="VARCHAR" />
    <result column="dict_item_name" property="dictItemName" jdbcType="VARCHAR" />
    <result column="dict_item_code" property="dictItemCode" jdbcType="VARCHAR" />
    <result column="dict_sort" property="dictSort" jdbcType="INTEGER" />
    <result column="dict_enable" property="dictEnable" jdbcType="CHAR" />
    <result column="dict_memo" property="dictMemo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dict_id, dict_type_code, dict_type_name, dict_item_name, dict_item_code, dict_sort, 
    dict_enable, dict_memo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from base_dict
    where dict_id = #{dictId,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据类别代码查询 -->
  <select id="selectBaseDictByTypeCode" resultMap="BaseResultMap" resultType="base_Dict" parameterType="java.lang.String">
  	select * from base_dict where dict_type_code=#{typecode}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_dict
    where dict_id = #{dictId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.learning.core.pojo.Base_Dict" >
    insert into base_dict (dict_id, dict_type_code, dict_type_name, 
      dict_item_name, dict_item_code, dict_sort, 
      dict_enable, dict_memo)
    values (#{dictId,jdbcType=VARCHAR}, #{dictTypeCode,jdbcType=VARCHAR}, #{dictTypeName,jdbcType=VARCHAR}, 
      #{dictItemName,jdbcType=VARCHAR}, #{dictItemCode,jdbcType=VARCHAR}, #{dictSort,jdbcType=INTEGER}, 
      #{dictEnable,jdbcType=CHAR}, #{dictMemo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.learning.core.pojo.Base_Dict" >
    insert into base_dict
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictId != null" >
        dict_id,
      </if>
      <if test="dictTypeCode != null" >
        dict_type_code,
      </if>
      <if test="dictTypeName != null" >
        dict_type_name,
      </if>
      <if test="dictItemName != null" >
        dict_item_name,
      </if>
      <if test="dictItemCode != null" >
        dict_item_code,
      </if>
      <if test="dictSort != null" >
        dict_sort,
      </if>
      <if test="dictEnable != null" >
        dict_enable,
      </if>
      <if test="dictMemo != null" >
        dict_memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictId != null" >
        #{dictId,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeCode != null" >
        #{dictTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeName != null" >
        #{dictTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dictItemName != null" >
        #{dictItemName,jdbcType=VARCHAR},
      </if>
      <if test="dictItemCode != null" >
        #{dictItemCode,jdbcType=VARCHAR},
      </if>
      <if test="dictSort != null" >
        #{dictSort,jdbcType=INTEGER},
      </if>
      <if test="dictEnable != null" >
        #{dictEnable,jdbcType=CHAR},
      </if>
      <if test="dictMemo != null" >
        #{dictMemo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.learning.core.pojo.Base_Dict" >
    update base_dict
    <set >
      <if test="dictTypeCode != null" >
        dict_type_code = #{dictTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeName != null" >
        dict_type_name = #{dictTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dictItemName != null" >
        dict_item_name = #{dictItemName,jdbcType=VARCHAR},
      </if>
      <if test="dictItemCode != null" >
        dict_item_code = #{dictItemCode,jdbcType=VARCHAR},
      </if>
      <if test="dictSort != null" >
        dict_sort = #{dictSort,jdbcType=INTEGER},
      </if>
      <if test="dictEnable != null" >
        dict_enable = #{dictEnable,jdbcType=CHAR},
      </if>
      <if test="dictMemo != null" >
        dict_memo = #{dictMemo,jdbcType=VARCHAR},
      </if>
    </set>
    where dict_id = #{dictId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.learning.core.pojo.Base_Dict" >
    update base_dict
    set dict_type_code = #{dictTypeCode,jdbcType=VARCHAR},
      dict_type_name = #{dictTypeName,jdbcType=VARCHAR},
      dict_item_name = #{dictItemName,jdbcType=VARCHAR},
      dict_item_code = #{dictItemCode,jdbcType=VARCHAR},
      dict_sort = #{dictSort,jdbcType=INTEGER},
      dict_enable = #{dictEnable,jdbcType=CHAR},
      dict_memo = #{dictMemo,jdbcType=VARCHAR}
    where dict_id = #{dictId,jdbcType=VARCHAR}
  </update>
</mapper>